/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @media #{$break-narrow} {
      padding: 10px 30px;
    }
  }
  
  .default {
    background-color: $button-default;

    &:hover {
      background-color: $default-light;
      transition: background-color .3s;
    }
  }
  
  .error {
    background-color: $button-error;

    &:hover {
      background-color: $error-light;
      transition: background-color .3s;
    }
  }
  
  .info {
    background-color: $button-info;

    &:hover {
      background-color: $info-light;
      transition: background-color .3s;
    }
  }
  
  .success {
    background-color: $button-success;

    &:hover {
      background-color: $success-light;
      transition: background-color .3s;
    }
  }
  
  .warning {
    background-color: $button-warning;

    &:hover {
      background-color: $warning-light;
      transition: background-color .3s;
    }
  }
  