/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @media #{$break-narrow} {
      padding: 10px 30px;
    }
  }
  
  .default {
    background-color: $button-default;
  }
  
  .error {
    background-color: $button-error;
  }
  
  .info {
    background-color: $button-info;
  }
  
  .success {
    background-color: $button-success;
  }
  
  .warning {
    background-color: $button-warning;
  }
  